@page
@model Ecommerce_App.Pages.Details.ReceiptModel
@{
    ViewData["Title"] = "Receipt";
    Layout = "_Home";
}


    <div>    

        <div id=Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">
            <div class="row" style="margin-top:10px; margin-bottom:10px;">

                <div class="col-12" style="margin-top:20px; margin-bottom:20px;">
                    <h2>Your Receipt</h2>
                    <hr />
                </div>
                <div class="col-12" style="margin-top:20px; margin-bottom:20px;">
                    <h3>Name: @Model.UserOrder.OrderAddress.FirstName @Model.UserOrder.OrderAddress.LastName</h3>
                    <p>Address: @Model.UserOrder.OrderAddress.Address</p>
                    <p>City: @Model.UserOrder.OrderAddress.City</p>
                    <p>State: @Model.UserOrder.OrderAddress.State</p>
                    <p>Zip: @Model.UserOrder.OrderAddress.Zip</p>
                    <hr />
                </div>
                <div class="col-12" style="margin-top:20px; margin-bottom:20px;">
                    <ul>
                        @foreach (var item in Model.CurrentUserCart.CartItems)
                        {
                            <li>Product Name: @item.Product.Name</li>
                            <li>Price: @item.Product.Price </li>
                            <li>Quantity: @item.Quantity </li>
                        }
                    </ul>
                </div>
                <div class="col" style="margin-top:20px;">
                    <hr />
                    <h2>Total cost: $@Model.Total</h2>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
                </div>    
            </div>
        </div>
    </div>