@model Ecommerce_App.Models.ViewModels.ProductsViewModel

@{
    Layout = "_Home";
}

<!Doctype html>

<html>
<head>
</head>
<body>

    <main>

        <div class="container text-white" style="margin-top:30px;">
            <h2>Search Results</h2>
        </div>
        <div class="container text-white" style="margin-top:10px;">
            <div class="row">
                <div class="col">
                    <form asp-controller="Products" asp-action="SearchResults">
                        <label>Search by Name</label>
                        <input type="text" name="searchString">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Prod)
        {
            <div id=@item.Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">
                <div class="row" style="margin-top:10px; margin-bottom:10px;">
                    <form asp-page="/Details/Product" asp-route-id="@item.Id" method="get" enctype="multipart/form-data">
                        <div class="col-3">
                            <img src=@item.Image style="height:200px; width:200px;" />
                        </div>
                        <div class="col-9">
                            <h3>@item.Name</h3>
                            <p>$@item.Price</p>
                            <p>@item.Description</p>
                            <hr />
                            <input type="hidden" value="@item.Id" />
                            <button onclick="document.getElementById('@item.Id')" type="submit" class="btn btn-primary">View Product</button>
                        </div>
                    </form>
                </div>
            </div>
        }

    </main>

</body>
</html>
