@page
@model Ecommerce_App.Pages.Dashboard.AdminPortalModel
@{
    ViewData["Title"] = "AdminPortal";
    Layout = "_Home";
}


<!Doctype html>

<html>
    <head>
        <style>
            .adminPortal {
                margin: 0px auto;
            }
        </style>
    </head>
    <body>
        <main>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center adminPortal" style="margin-top:30px;">

                <form method="post" enctype="multipart/form-data">

                    <div class="form-group text-white">
                        <h2>Admin Portal</h2>
                        <p>Create a new product</p>
                        <p>Input all product info fields</p>
                    </div>

                    <div class="form-group text-white">
                        <input placeholder="Product Name" asp-for="@Model.Name" /> <br />
                    </div>

                    <div class="form-group text-white">
                        <input placeholder="SKU" asp-for="@Model.SKU" /><br />
                    </div>

                    <div class="form-group text-white">
                        <input placeholder="Price" asp-for="@Model.Price" /><br />
                    </div>

                    <div class="form-group text-white">
                        <textarea placeholder="Decription" asp-for="@Model.Description"></textarea><br />
                    </div>

                    <div class="form-group text-white">
                        <button type="submit" class="btn btn-primary">Create new Product</button>
                    </div>
                </form>

            </div>

        </div>

        <div class="row">
            <div id=Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">

                <a asp-page="/Dashboard/Picture" class="nav-link">Picture Upload</a>

            </div>
        </div>


        <div class="row">
            <div id=Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">
                <div class="row" style="margin-top:10px; margin-bottom:10px;">
                    <div class="col-10" style="margin-top:10px; margin-bottom:20px;">
                        <h3>All Products</h3>
                        <hr>
                    </div>
                    @foreach (var item in Model.Product)
                    {
                        <form enctype="multipart/form-data" method="post">
                            <div class="col-3">
                                <img src=@item.Image style="height:175px; width:175px;" />
                            </div>
                            <div class="col-9">
                                <h3>@item.Name</h3>
                                <p>Price: $@item.Price</p>
                                <p>Description: @item.Description</p>
                                <input hidden asp-for="@item.Id" value="@item.Id" />
                                <a asp-page="/Dashboard/Update" asp-route-id="@item.Id" class="btn btn-primary">Update Product</a>
                                <button asp-page="/Dashboard/Delete" asp-route-id="@item.Id" enctype="multipart/form-data" type="submit" class="btn btn-primary">Delete Product</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div id=Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">
                <div class="row" style="margin-top:10px; margin-bottom:10px;">
                    <div class="col-10" style="margin-top:10px; margin-bottom:20px;">
                        <h3>Complete Company Order History</h3>
                        <hr>
                    </div>
                    @if (Model.Orders != null)
                    {
                        <div class="col-10" style="margin-top:10px; margin-bottom:10px;">
                            @foreach (var item in Model.Orders)
                            {
                                <h4>Order @item.Id placed on @item.Date</h4>
                                <h6>Billing/Shipping info</h6>
                                <p>Customer Name: @item.FirstName @item.LastName</p>
                                <p>Date of purchase: @item.Date</p>
                                <p>Address: @item.Address</p>
                                <p>City: @item.City</p>
                                <p>State: @item.State</p>
                                <p>Zip: @item.Zip</p>
                                <div class="col-2"></div>

                                <h6>Order summary:</h6>

                                @foreach (var s in item.Cart.CartItems)
                                {
                                    <p>Product Name: @s.Product.Name</p>
                                    <p>Price: $@(s.Product.Price * s.Quantity) (Unit Price: $@s.Product.Price)</p>
                                    <p>SKU: @s.Product.SKU</p>
                                    <p>Quantity: @s.Quantity </p>
                                }

                                <div class="col-2"></div>
                                <div class="col-10" style="margin-bottom:20px;">
                                    <h2>Total purchase: $@item.Cart.Total</h2>
                                </div>
                                <hr />
                            }
                        </div>
                    }
                    </div>
            </div>
        </div>

</main>
    </body>
</html>