@page
@model Ecommerce_App.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Home";
}


<!Doctype html>

<html>
<head>
    <style>
        .register {
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <main>

        <div class="row">
            <div class="col-md-4 d-flex justify-content-center register" style="margin-top:30px;">

                <form method="post">

                    <div class="form-group text-white">
                        <h1>Register</h1>
                    </div>
                    
                    <div class="form-group">
                        <div asp-validation-summary="All"></div>
                        <input type="text" placeholder="First Name" asp-for="@Model.Input.FirstName" />
                        <span asp-validation-for="@Model.Input.FirstName"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Last Name" asp-for="@Model.Input.LastName" />
                        <span asp-validation-for="@Model.Input.LastName"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Email" asp-for="@Model.Input.Email" />
                        <span asp-validation-for="@Model.Input.Email"></span>
                    </div>

                    <div class="form-group">
                        <input type="password" placeholder="Password" asp-for="@Model.Input.Password" />
                        <span asp-validation-for="@Model.Input.Password"></span>
                    </div>

                    <div class="form-group">
                        <input type="password" placeholder="Confirm Password" asp-for="@Model.Input.ConfirmPassword" />
                        <span asp-validation-for="@Model.Input.ConfirmPassword"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">SUBMIT</button>

                </form>

            </div>
        </div>

    </main>
</body>
</html>
